In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [27]:
bookings=pd.read_csv('C:/Users/Khadidiatou/Desktop/bookings.csv', sep='^', header=0, nrows=100000)
searches=pd.read_csv('C:/Users/Khadidiatou/Desktop/searches.csv', sep='^', header=0, nrows=100000)

## First exercise: count the number of lines in Python for each file

In [28]:
len(bookings)

100000

In [29]:
len(searches)

100000

## Second exercise: top 10 arrival airports in the world in 2013

In [30]:
arrival_airports= bookings.groupby('arr_port', sort=True)['pax'].agg(['sum']).rename(columns={'sum':'nb_passengers'})
top10_airports=arrival_airports.sort_values('nb_passengers',ascending=False).head(10)
top10_airports

          nb_passengers
arr_port
LHR                1006
MCO                 861
JFK                 795
LAX                 761
BKK                 747
LAS                 732
SFO                 705
ORD                 686
CDG                 676
DXB                 587

## Third exercise: plot the monthly number of searches for flights arriving at Málaga, Madrid or Barcelona

In [31]:
searches.Date= pd.to_datetime(searches.Date,yearfirst=True)
searches['month'] = pd.DatetimeIndex(searches['Date']).month

In [32]:
dest_agp_bcn_mad= searches[(searches['Destination']=="AGP'") | (searches['Destination']=="MAD") | (searches['Destination']=="BCN")]
dest_agp_bcn_mad.head(10)

,Date,Time,TxnCode,OfficeID,Country,Origin,Destination,RoundTrip,NbSegments,Seg1Departure,...,Seg6Date,Seg6Carrier,Seg6BookingCode,From,IsPublishedForNeg,IsFromInternet,IsFromVista,TerminalID,InternetOffice,month
4,2013-01-01,17:48:29,MPT,1ec336348f44207d2e0027dc3a68c118,NO,OSL,MAD,1,2,OSL,...,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,OSL,1
113,2013-01-01,23:40:53,FXX,0028c46214bc260eb3011510a898cd42,ES,ALC,BCN,0,2,ALC,...,NaN,NaN,NaN,1ASI,0,0,0,f024768c26f020e6243423f932c2a4de,MAD,1
151,2013-01-01,10:46:21,MPT,50c54b52322080d2c257390f714f91bd,ES,FRA,MAD,0,1,FRA,...,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,MAD,1
165,2013-01-01,03:40:25,MPT,f4b923424d840c9128df27b5242feffa,US,SFO,BCN,1,2,SFO,...,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,NYC,1
177,2013-01-01,11:26:34,MPT,3ac5426dd4f6bb8de28349c7b77e1ee4,IT,MOW,BCN,1,2,MOW,...,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,MIL,1
186,2013-01-01,09:46:07,MPT,61880d6e0141d7ec9659ef77e29aab01,DK,CPH,BCN,1,2,CPH,...,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,CPH,1
188,2013-01-01,02:07:17,CAL,b9c9a14cb66d19de74865613593d2e95,MA,NDR,BCN,1,2,NDR,...,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,CAS,1
208,2013-01-01,15:58:35,FFP,99a5fa66a00828db9727aea7ebc6ae74,DE,CGN,BCN,1,2,CGN,...,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,BER,1
229,2013-01-01,15:18:55,MPT,03a4fc8b3cd31d6d5b5d7b86d20f4af8,DE,PAR,BCN,1,2,PAR,...,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,LEJ,1
253,2013-01-01,06:34:31,MPT,3c28d84b4edf9000ebd5071c7bf37912,DE,MUC,BCN,1,2,MUC,...,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,BER,1

In [37]:
dest_agp_bcn_mad.set_index('month', inplace=True)
p=dest_agp_bcn_mad.groupby('Destination').count().plot(legend=True)
p.figure.show()

C:\Users\Khadidiatou\Anaconda3\lib\site-packages\matplotlib\figure.py:397: UserWarning: matplotlib is currently using a non-GUI backend, so cannot show the figure
  "matplotlib is currently using a non-GUI backend, "